<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Corey Presents: Welcome to PetFax </h1>
    <div className="container">
    {%for pet in pets%}
      <u><h2>{{pet.pet_name}}</h2></u>
      <img src="{{pet.pet_photo}}" alt="Photo of pet"/>
      <a href="/pets/{{pet.pet_id}}">Click here to learn more</a>

      {%endfor%}
</div>
</body>
</html>